.sixPictures{
     display: grid;
     width: 80%;    
     grid-template-columns: 33.3% 33.3% 33.3%; 
      
     grid-template-rows: repeat(2, 1fr);     
     margin: auto;

     grid-gap: 3px;
     align-items: flex-start;
     padding: 0;
}

.sixPictures img {
     width: 100%;
     display: block;
     padding: 0;

}

h1 {
     width: 80%;
     display: grid;

}